:root {
    --dende: #dede;
}

html, body {
    height: 100dvh;
}

* {
    position: relative;
    margin: 0;
}

header {
    color: blueviolet;
    text-align: center;
}

section {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #e9e9e9;
}

button {
    width: 100%;
}

.form-floating {
    margin: 10px 0px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100dvw;
    opacity: 60%;
    text-align: center;
}